* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   background-color: #f0f0f0;
   color: #000000;
   font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 1.6;
}

.mainlinks {
    background-color: #26623d;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.mainlinks :scroll {
    background-color: #11a44a;
}

.navlinks {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #ffffff;
}

.navlinks a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navlinks a:hover {
    text-decoration: underline;
    transform: scaleY(-2px);
}

button {
    color: none;
    border: none;
}
/*.cta-button {
     padding: 10px;
     border-radius: 8px;
     background-color: #ffffff;
     color: #000000;
}*/

.cta-button a {
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    border: #000000 2px solid;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cta-button a:hover{
    background-color: #11a44a;
    border: #000000 2px solid;
    transform: scaleY(-2px);
}

.hero-section {
    padding: 200px 100px 200px 100px;
    background-image: url("CEO.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.55) ;
    background-blend-mode: overlay;
    text-align: center;
}

.hero-section p {
    margin-bottom: 10px;
    color: #ffffff;
}

.cta-button2 a {
    padding: 10px;
    border-radius: 8px;
    background-color: #26623d;
    color: #ffffff;
    border: #000000 2px solid;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cta-button2 a:hover{
    background-color: #11a44a;
    border: #000000 2px solid;
    transform: scaleY(-2px);
}

header {
    color: #ffffff;
}

.sub-section {
    padding: 50px 0px;
    text-align: center;
}

.miss {
    background-color: #26623d;
    color: #f0f0f0;
}

.content-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.text-area {
    flex-basis: 50%;
    padding-left: 10px;
}

h2 {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
}

.text-area p {
    text-align: left;
    margin: 10px 0px ;
}

.text-area dl {
    text-align: left;
    margin: 10px;
}

.text-area dd {
    margin-bottom: 10px;
}

.video-area {
    flex-basis: 50%;
    background-color: #1d1d1d;
    width: 100%;
    height: 500px;
    margin: 20px;
    border-radius: 8px;
}

.step-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.step-frame {
    background-color: #1d1d1d;
    border-radius: 8px;
    padding: 30px;
}

.steps {
    background-color: #26623d;
    color: white;
    border-radius: 12px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

.step-frame h3,
.step-frame p {
    color: #ffffff;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.testimonial-frame {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}

.author {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #11a44a 2px solid;
}

.footer-section {
    padding: 50px 100px 50px 100px;
    background: linear-gradient(135deg,#11a44a 0%, #26623d 50%, #1d1d1d 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.footer-head {
    font-size: 25px;
    font-weight: 600;
}

.footer-head p{
    color: #e8e6e6;
}

.footer-body h3 {
    font-size: 20px;
    font-weight: 600;
}

.footer-body ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
}

.footer-body a {
    color: #e8e6e6;
    text-decoration: none;
}

.footer-body li {
    list-style: none;
}

.footer-bottom {
    color: #e8e6e6;
    
}